<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunrise.scjd.persistence.datatable.TimeAnalysisMapper">
	<sql id="Base_Column_List">
		<choose>
			<when test="jfFlag!=null and jfFlag==-1">
			<![CDATA[
				ALL_USR as USR, ALL_USR_HB as USR_HB,
				ALL_DOWN_CNT as DOWN_CNT,ALL_DOWN_CNT_HB as DOWN_CNT_HB,
				ALL_PRICE as PRICE,ALL_PRICE_HB as PRICE_HB
			]]>
			</when>
			<when test="jfFlag!=null and jfFlag==1">
			<![CDATA[
				MF_USR as USR, MF_USR_HB as USR_HB,
				MF_DOWN_CNT as DOWN_CNT,MF_DOWN_CNT_HB as DOWN_CNT_HB,
				MF_PRICE as PRICE,MF_PRICE_HB as PRICE_HB
			]]>
			</when>
			<when test="jfFlag!=null and jfFlag==2">
            <![CDATA[
				SF_USR as USR, SF_USR_HB as USR_HB,
				SF_DOWN_CNT as DOWN_CNT,SF_DOWN_CNT_HB as DOWN_CNT_HB,
				SF_PRICE as PRICE,SF_PRICE_HB as PRICE_HB
			]]>
			</when>
		</choose>
	</sql>

	<sql id="listen_List">
		<choose>
			<when test="downFlag !=null and downFlag ==0">
			<![CDATA[
				ALL_DOWN_USR as TEST_USR,
	            ALL_DOWN_USR_HB as TEST_USR_HB,
	            ALL_DOWN_CNT as TEST_DOWN_CNT,
	            ALL_DOWN_CNT_HB as TEST_DOWN_CNT_HB
			]]>
			</when>
			<when test="downFlag !=null and downFlag ==1">
			<![CDATA[
				CI_DOWN_USR as TEST_USR,
	            CI_DOWN_USR_HB  as TEST_USR_HB,
	            CI_DOWN_CNT as TEST_DOWN_CNT,
	            CI_DOWN_CNT_HB as TEST_DOWN_CNT_HB
			]]>
			</when>
			<when test="downFlag !=null and downFlag ==3">
            <![CDATA[
				PAY_MONTH_DOWN_USR as TEST_USR,
	            PAY_MONTH_DOWN_USR_HB  as TEST_USR_HB,
	            PAY_MONTH_DOWN_CNT as TEST_DOWN_CNT,
	            PAY_MONTH_DOWN_CNT_HB as TEST_DOWN_CNT_HB
			]]>
			</when>
		</choose>
	</sql>
	
	<!-- 渠道专属包月显示字段 -->
	<sql id="Base_Column_List_channelByMonth">
		<![CDATA[
			DOWN_USR as DOWN_USR, 
			DOWN_USR_HB as DOWN_USR_HB,
			USED_USR as USED_USR,
			USED_USR_HB as USED_USR_HB,
			DOWN_CNT as DOWN_CNT,
			DOWN_CNT_HB as DOWN_CNT_HB,
			ALL_PRICE as PRICE,
			ALL_PRICE_HB as PRICE_HB
		]]>
	</sql>
	
	<!-- 个性化彩铃 -->
	<sql id="Base_order_List_diy">
		<choose>
			<when test="jfFlag!=null and jfFlag==-1">
			<![CDATA[
				ALL_DOWN_CNT
			]]>
			</when>
			<when test="jfFlag!=null and jfFlag==1">
			<![CDATA[
				MF_DOWN_CNT
			]]>
			</when>
			<when test="jfFlag!=null and jfFlag==2">
            <![CDATA[
				SF_DOWN_CNT
			]]>
			</when>
		</choose>
	</sql>
	
	<!-- 渠道专属包月条件 -->
	<sql id="Where_Clause_channelByMonth">
		<if test="_parameter!=null">
				<if test="ids!=null and ids!=''">
					and IDS=#{ids,jdbcType=INTEGER}
				</if>
				<if test="provinceCode!=null and provinceCode!=''">
					and PROVINCE_CODE=#{provinceCode,jdbcType=INTEGER}
				</if>
				<if test="srcMusicId!=null and srcMusicId!=''">
					and SRC_MUSIC_ID like '%${srcMusicId}%'
				</if>
				<if test="srcMusicId ==null or srcMusicId ==''">
					and SRC_MUSIC_ID = -1
				</if>
				<if test="srcMusicName!=null and srcMusicName!=''">
					and SRC_MUSIC_NAME like '%${srcMusicName}%'
				</if>
		</if>
	</sql>
	
	<select id="selectBySelective" parameterType="com.sunrise.scjd.domain.DataParam" resultType="java.util.HashMap">
		select
		<include refid="Base_Column_List" />
		<if test="dateType == 'day'">
			,DATE_ID
			from RPT_YDJC_SONG_DM 
			WHERE  DATE_ID BETWEEN  #{preDateId,jdbcType=INTEGER} AND  #{dateId,jdbcType=INTEGER} 
		</if>
		<if test="dateType == 'month'">
			,MONTH_ID as DATE_ID
			from RPT_YDJC_SONG_MM 
			WHERE  MONTH_ID BETWEEN  #{preDateId,jdbcType=INTEGER} AND  #{dateId,jdbcType=INTEGER} 
		</if>
		<if test="ids!=null and ids!=''">
					and IDS=#{ids,jdbcType=INTEGER}
				</if>
				<if test="productId!=null">
					and PRODUCT_ID=#{productId,jdbcType=INTEGER}
				</if>
				<if test="provinceCode!=null and provinceCode!=''">
					and PROVINCE_CODE=#{provinceCode,jdbcType=INTEGER}
				</if>
		order by DATE_ID desc
	</select>
<!-- 咪咕高清特会模块sql -->
	<select id="selectBySelective12" parameterType="com.sunrise.scjd.domain.DataParam" resultType="java.util.HashMap">
		select
		ALL_USR as USR, ALL_USR_HB as USR_HB,
		ALL_DOWN_CNT as DOWN_CNT,ALL_DOWN_CNT_HB as DOWN_CNT_HB,
		ALL_PRICE as PRICE,ALL_PRICE_HB as PRICE_HB
	        <if test="dateType  == 'day'">
				,DATE_ID as DATE_ID
				from RPT_YDJC_TOPVIP_DM
				where DATE_ID between #{preDateId,jdbcType=INTEGER} and #{dateId,jdbcType=INTEGER}
			 </if>
			<if test="dateType  == 'month'">
				,MONTH_ID as DATE_ID
				from RPT_YDJC_TOPVIP_MM
				where MONTH_ID between #{preDateId,jdbcType=INTEGER} and #{dateId,jdbcType=INTEGER}
			</if>
			<if test="ids!=null and ids!=''">
				and IDS=#{ids,jdbcType=INTEGER}
			</if>
			<if test="productId!=null ">
				and data_sf_tag=#{productId,jdbcType=INTEGER}
			</if>
			<if test="provinceCode!=null and provinceCode!=''">
				and PROVINCE_CODE=#{provinceCode,jdbcType=INTEGER}
			</if>			
			 order by DATE_ID desc
			</select>

	<!-- 曲库特会下载模块sql -->
	<select id="selectBySelective15" parameterType="com.sunrise.scjd.domain.DataParam" resultType="java.util.HashMap">
		select
		THHY_US as USR, THHYXZ_US,
		THHY_AC,DATE_ID
		from rpt_qkth_hy_jc_busi_d 
		<where>	
	    busi_flag=#{productId,jdbcType=INTEGER}
		AND area_code=#{provinceCode,jdbcType=INTEGER}
		AND flag=1				
		AND date_id between #{preDateId,jdbcType=INTEGER} and #{dateId,jdbcType=INTEGER} 		
		</where>
		order by
		DATE_ID desc
	</select>
	<!-- 曲库特会会员14 -->
	<select id="selectBySelective14" parameterType="com.sunrise.scjd.domain.DataParam" resultType="java.util.HashMap">
		select
		THHY_US as THHY_US,DATE_ID
		from rpt_qkth_hy_jc_busi_d 
		<where>	
	    busi_flag=#{productId,jdbcType=INTEGER}
		AND area_code=#{provinceCode,jdbcType=INTEGER}
		AND flag=1				
		AND date_id between #{preDateId} and #{dateId}   		
		</where>
		order by
		DATE_ID desc
	</select>

	
		<!-- 渠道专属包月模块sql -->
	<select id="selectBySelective_channelByMonth" parameterType="com.sunrise.scjd.domain.DataParam" resultType="java.util.HashMap">
		select
		<include refid="Base_Column_List_channelByMonth" />
		<if test="dateType == 'day'">
			,DATE_ID
			from RPT_YDJC_QDZS_DM
			WHERE  DATE_ID BETWEEN  #{preDateId,jdbcType=INTEGER} AND  #{dateId,jdbcType=INTEGER} 
		</if>
		<if test="dateType == 'month'">
			,MONTH_ID as date_id
			from RPT_YDJC_QDZS_MM
			WHERE  MONTH_ID BETWEEN  #{preDateId,jdbcType=INTEGER} AND  #{dateId,jdbcType=INTEGER} 
		</if>
		<include refid="Where_Clause_channelByMonth" />
		order by DATE_ID desc
	</select>

	<!--三方支付歌曲下载  -->
 	<sql id="Base_Column_sfzfList">
		<choose>
			<when test="jfFlag!=null and jfFlag==-1">
			<![CDATA[
				ALL_USERNUM as USR,
				ALL_USERNUM_HB as USR_HB,
				ALL_DOWNCNT as DOWN_CNT, 
				ALL_DOWNCNT_HB as DOWN_CNT_HB, 
				ALL_PRICE as PRICE,
				ALL_PRICE_HB as PRICE_HB
			]]>
			</when>
			<when test="jfFlag!=null and jfFlag==1">
			<![CDATA[
				MF_USERNUM as USR, MF_USERNUM_HB as USR_HB,
				MF_DOWNCNT as DOWN_CNT,MF_DOWNCNT_HB as DOWN_CNT_HB,
				MF_PRICE as PRICE,MF_PRICE_HB as PRICE_HB
			]]>
			</when>
			<when test="jfFlag!=null and jfFlag==2">
            <![CDATA[
				SF_USERNUM as USR, SF_USERNUM_HB as USR_HB,
				SF_DOWNCNT as DOWN_CNT,SF_DOWNCNT_HB as DOWN_CNT_HB,
				SF_PRICE as PRICE,SF_PRICE_HB as PRICE_HB
			]]>
			</when>
		</choose>
	</sql>
	<sql id="Where_sfzfClause">
				<if test="ids!=null and ids!=''">
				and IDS= #{ids,jdbcType=INTEGER}
			</if>
			<if test="productId!=null">
				and PRODUCT_ID=#{productId,jdbcType=INTEGER}
			</if>
	</sql> 
	
	<select id="selectBySelective_ring" parameterType="com.sunrise.scjd.domain.DataParam" resultType="java.util.HashMap">
		select
		<include refid="Base_Column_List" />
		<if test="dateType == 'day'">
			,DATE_ID
			from RPT_YDJC_RING_DM 
			WHERE  DATE_ID BETWEEN  #{preDateId,jdbcType=INTEGER} AND  #{dateId,jdbcType=INTEGER} 
		</if>
		<if test="dateType == 'month'">
			,MONTH_ID as date_id
			from RPT_YDJC_RING_MM 
			WHERE  MONTH_ID BETWEEN  #{preDateId,jdbcType=INTEGER} AND  #{dateId,jdbcType=INTEGER} 
		</if>
		<if test="ids!=null and ids!=''">
					and IDS=#{ids,jdbcType=INTEGER}
				</if>
				<if test="productId!=null ">
					and PRODUCT_ID=#{productId,jdbcType=INTEGER}
				</if>
				<if test="provinceCode!=null and provinceCode!=''">
					and PROVINCE_CODE=#{provinceCode,jdbcType=INTEGER}
				</if>
		order by DATE_ID desc
	</select>
	<select id="selectBysfzf" parameterType="com.sunrise.scjd.domain.DataParam" resultType="java.util.HashMap">
		select
		<include refid="Base_Column_sfzfList" />
		<if test="dateType == 'day'">
			,DATE_ID AS DATE_ID
			from prt_ydjc_quanqu3pay_dm 
			WHERE DATE_ID BETWEEN  #{preDateId,jdbcType=INTEGER} AND  #{dateId,jdbcType=INTEGER} 
		</if>
		<if test="dateType == 'month'">
			,MONTH_ID AS DATE_ID
			from prt_ydjc_quanqu3pay_mm 
			WHERE MONTH_ID BETWEEN  #{preDateId,jdbcType=INTEGER} AND  #{dateId,jdbcType=INTEGER} 
		</if>
		<include refid="Where_sfzfClause" />
		order by DATE_ID desc
	</select>
<!-- 在线听时间分析 -->
	<select id="selectByzxt" parameterType="com.sunrise.scjd.domain.DataParam" resultType="java.util.HashMap">
		select
		<include refid="listen_List" />
		<if test="dateType == 'day'">
			,DATE_ID
			from RPT_YDJC_ONLINE_DM 
			WHERE  DATE_ID BETWEEN  #{preDateId,jdbcType=INTEGER} AND  #{dateId,jdbcType=INTEGER} 
		</if>
		<if test="dateType == 'month'">
			,MONTH_ID AS DATE_ID
			from RPT_YDJC_ONLINE_MM
			WHERE  MONTH_ID BETWEEN  #{preDateId,jdbcType=INTEGER} AND  #{dateId,jdbcType=INTEGER} 
		</if>
		<if test="ids!=null and ids!=''">
					and IDS=#{ids,jdbcType=INTEGER}
				</if>
				<if test="provinceCode!=null and provinceCode!=''">
					and PROVINCE_CODE=#{provinceCode,jdbcType=INTEGER}
				</if>
		order by DATE_ID desc
	</select>
<!-- 振铃业务分析的按时间分析 -->
	<select id="zringSelectBySelective" parameterType="com.sunrise.scjd.domain.DataParam"
		resultType="java.util.HashMap">
		select
		<include refid="Base_Column_List" />
		<if test="dateType == 'day'">
			,DATE_ID
			from RPT_YDJC_ZRING_DM
			WHERE DATE_ID BETWEEN #{preDateId,jdbcType=INTEGER} AND
			#{dateId,jdbcType=INTEGER}
		</if>
		<if test="dateType == 'month'">
			,MONTH_ID as DATE_ID
			from RPT_YDJC_ZRING_MM
			WHERE MONTH_ID BETWEEN
			#{preDateId,jdbcType=INTEGER} AND #{dateId,jdbcType=INTEGER}
		</if>
		<if test="ids!=null and ids!=''">
			and IDS=#{ids,jdbcType=INTEGER}
		</if>
		<if test="provinceCode!=null and provinceCode!=''">
			and PROVINCE_CODE=#{provinceCode,jdbcType=INTEGER}
		</if>
		order by DATE_ID desc
	</select>
	<!--三方支付 振铃按次 -->
	<sql id="Base_Column_List_Ring">
		USERNUM AS USR,
		USERNUM_HB AS USR_HB,
		DOWNCNT AS DOWN_CNT,
		DOWNCNT_HB AS DOWN_CNT_HB,
		PRICE AS PRICE,
		PRICE_HB AS PRICE_HB
	</sql>
	<sql id="Where_Clause_Ring">
			<if test="ids!=null and ids!=''">
				and IDS=#{ids,jdbcType=INTEGER}
			</if>
	</sql>
	<select id="selectBySfzfRingCount" parameterType="com.sunrise.scjd.domain.DataParam" resultType="java.util.HashMap">
		select 
		<include refid="Base_Column_List_Ring"/>
	<if test="dateType == 'day'">
				,DATE_ID AS DATE_ID
				from PRT_YDJC_ZRING3PAY_DM 
				WHERE  DATE_ID BETWEEN  #{preDateId,jdbcType=INTEGER} AND  #{dateId,jdbcType=INTEGER} 
			</if>
			<if test="dateType == 'month'">
				,MONTH_ID AS DATE_ID
				from PRT_YDJC_ZRING3PAY_MM 
				WHERE  MONTH_ID BETWEEN  #{preDateId,jdbcType=INTEGER} AND  #{dateId,jdbcType=INTEGER} 
			</if>
		<include refid="Where_Clause_Ring"/>
		order by DATE_ID DESC 
	</select>
		  <!-- 铃音盒 -->
      
     <sql id="Where_ClauseRingBox">
		<if test="_parameter!=null">
				<if test="ids!=null and ids!=''">
					and IDS=#{ids,jdbcType=INTEGER}
				</if>
				<if test="provinceCode!=null and provinceCode!=''">
					and PROVINCE_CODE=#{provinceCode,jdbcType=INTEGER}
				</if>
		</if>
      </sql>
	 <!-- 音乐盒调用  -->
	 
	  <select id="selectByRingBoxSelective" parameterType="com.sunrise.scjd.domain.DataParam" resultType="java.util.HashMap">
		select
		<include refid="Base_Column_List" />
		<if test="dateType == 'day'">
			,DATE_ID
			from RPT_YDJC_RINGBOX_DM 
			WHERE  DATE_ID BETWEEN  #{preDateId,jdbcType=INTEGER} AND  #{dateId,jdbcType=INTEGER} 
		</if>
		<if test="dateType == 'month'">
			,MONTH_ID as date_id
			from RPT_YDJC_RINGBOX_MM 
			WHERE  MONTH_ID BETWEEN  #{preDateId,jdbcType=INTEGER} AND  #{dateId,jdbcType=INTEGER} 
		</if>
	<if test="ids!=null and ids!=''">
					and IDS=#{ids,jdbcType=INTEGER}
				</if>
				<if test="provinceCode!=null and provinceCode!=''">
					and PROVINCE_CODE=#{provinceCode,jdbcType=INTEGER}
				</if>
		order by DATE_ID desc
	</select>
	
	 <!-- 音乐盒拆分后调用  -->
	 
	  <select id="selectByRingBoxCFSelective" parameterType="com.sunrise.scjd.domain.DataParam" resultType="java.util.HashMap">
		select
		<include refid="Base_Column_List" />
		<if test="dateType == 'day'">
			,DATE_ID
			from RPT_YDJC_RINGBOX_CF_DM 
			WHERE  DATE_ID BETWEEN  #{preDateId,jdbcType=INTEGER} AND  #{dateId,jdbcType=INTEGER} 
		</if>
		<if test="dateType == 'month'">
			,MONTH_ID as date_id
			from RPT_YDJC_RINGBOX_CF_MM 
			WHERE  MONTH_ID BETWEEN  #{preDateId,jdbcType=INTEGER} AND  #{dateId,jdbcType=INTEGER} 
		</if>
		<if test="ids!=null and ids!=''">
					and IDS=#{ids,jdbcType=INTEGER}
				</if>
				<if test="provinceCode!=null and provinceCode!=''">
					and PROVINCE_CODE=#{provinceCode,jdbcType=INTEGER}
				</if>
		order by DATE_ID desc
	</select>
	
	<!-- 个性化彩铃分析 -->
	<select id="selectRingdiy" parameterType="com.sunrise.scjd.domain.DataParam" resultType="java.util.HashMap">
		select
		<include refid="Base_Column_List" />
		<if test="dateType == 'day'">
			,DATE_ID
			from RPT_YDJC_RINGDIY_DM 
			WHERE  DATE_ID BETWEEN  #{preDateId,jdbcType=INTEGER} AND  #{dateId,jdbcType=INTEGER} 
		</if>
		<if test="dateType == 'month'">
			,MONTH_ID as date_id
			from RPT_YDJC_RINGDIY_MM
			WHERE  MONTH_ID BETWEEN  #{preDateId,jdbcType=INTEGER} AND  #{dateId,jdbcType=INTEGER} 
		</if>
		<if test="ids!=null and ids!=''">
					and IDS=#{ids,jdbcType=INTEGER}
				</if>
				<if test="productId!=null ">
					and PRODUCT_ID=#{productId,jdbcType=INTEGER}
				</if>
				<if test="provinceCode!=null and provinceCode!=''">
					and PROVINCE_CODE=#{provinceCode,jdbcType=INTEGER}
				</if>
		order by DATE_ID desc
	</select>
	<!-- 咪咕高清特会升级包模块sql -->
	<select id="selectBySelective17" parameterType="com.sunrise.scjd.domain.DataParam" resultType="java.util.HashMap">
		select
		ALL_USR as USR, ALL_USR_HB as USR_HB,
		ALL_DOWN_CNT as DOWN_CNT,ALL_DOWN_CNT_HB as DOWN_CNT_HB,
		ALL_PRICE as PRICE,ALL_PRICE_HB as PRICE_HB
	        <if test="dateType  == 'day'">
				,DATE_ID as DATE_ID
				from rpt_ydjc_topvip_upgrade_dm
				where DATE_ID between #{preDateId,jdbcType=INTEGER} and #{dateId,jdbcType=INTEGER}
			 </if>
			<if test="dateType  == 'month'">
				,MONTH_ID as DATE_ID
				from rpt_ydjc_topvip_upgrade_mm
				where MONTH_ID between #{preDateId,jdbcType=INTEGER} and #{dateId,jdbcType=INTEGER}
			</if>
			<if test="ids!=null and ids!=''">
				and IDS=#{ids,jdbcType=INTEGER}
			</if>			
			<if test="provinceCode!=null and provinceCode!=''">
				and PROVINCE_CODE=#{provinceCode,jdbcType=INTEGER}
			</if>			
			 order by DATE_ID desc
			</select>
	
</mapper>
