<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunrise.scjd.persistence.datatable.UserTypeAnalysisMapper">
	<sql id="Base_Column_List">
		convert_type( 'USER_TYPE_ID',USER_TYPE_ID) as USER_TYPE
		<choose>
			<when test="jfFlag!=null and jfFlag==-1">
			<![CDATA[
				,ALL_USR as USR, ALL_USR_HB as USR_HB,
				ALL_DOWN_CNT as DOWN_CNT,ALL_DOWN_CNT_HB as DOWN_CNT_HB,
				ALL_PRICE as PRICE,ALL_PRICE_HB as PRICE_HB
			]]>
			</when>
			<when test="jfFlag!=null and jfFlag==1">
			<![CDATA[
				,MF_USR as USR, MF_USR_HB as USR_HB,
				MF_DOWN_CNT as DOWN_CNT,MF_DOWN_CNT_HB as DOWN_CNT_HB,
				MF_PRICE as PRICE,MF_PRICE_HB as PRICE_HB
			]]>
			</when>
			<when test="jfFlag!=null and jfFlag==2">
            <![CDATA[
				,SF_USR as USR, SF_USR_HB as USR_HB,
				SF_DOWN_CNT as DOWN_CNT,SF_DOWN_CNT_HB as DOWN_CNT_HB,
				SF_PRICE as PRICE,SF_PRICE_HB as PRICE_HB
			]]>
			</when>
		</choose>
	</sql>
	
	<!-- 在线听-->
	<sql id="listen_List">
		convert_type( 'USER_TYPE_ID',USER_TYPE_ID) as USER_TYPE
		<choose>
			<when test="downFlag !=null and downFlag ==0">
			<![CDATA[
				,ALL_DOWN_USR as TEST_USR,
	            ALL_DOWN_USR_HB as TEST_USR_HB,
	            ALL_DOWN_CNT as TEST_DOWN_CNT,
	            ALL_DOWN_CNT_HB as TEST_DOWN_CNT_HB
			]]>
			</when>
			<when test="downFlag !=null and downFlag ==1">
			<![CDATA[
				,CI_DOWN_USR as TEST_USR,
	            CI_DOWN_USR_HB  as TEST_USR_HB,
	            CI_DOWN_CNT as TEST_DOWN_CNT,
	            CI_DOWN_CNT_HB as TEST_DOWN_CNT_HB
			]]>
			</when>
			<when test="downFlag !=null and downFlag ==3">
            <![CDATA[
				,PAY_MONTH_DOWN_USR as TEST_USR,
	            PAY_MONTH_DOWN_USR_HB  as TEST_USR_HB,
	            PAY_MONTH_DOWN_CNT as TEST_DOWN_CNT,
	            PAY_MONTH_DOWN_CNT_HB as TEST_DOWN_CNT_HB
			]]>
			</when>
		</choose>
	</sql>

	<!-- 渠道专属包月展示字段 -->
	<sql id="Base_Column_List_channelByMonth">
		convert_type( 'USER_TYPE_ID',USER_TYPE_ID) as USER_TYPE
		<![CDATA[
			,DOWN_USR, 
			DOWN_USR_HB,
			USED_USR ,
			USED_USR_HB,
			DOWN_CNT,
			DOWN_CNT_HB,
			ALL_PRICE as PRICE,
			ALL_PRICE_HB as PRICE_HB
		]]>
	</sql>
	

	<sql id="OrderBy_Clause">
		<choose>
			<when test="jfFlag!=null and jfFlag==-1">
			<![CDATA[
				ALL_DOWN_CNT
			]]>
			</when>
			<when test="jfFlag!=null and jfFlag==1">
			<![CDATA[
				MF_DOWN_CNT
			]]>
			</when>
			<when test="jfFlag!=null and jfFlag==2">
            <![CDATA[
				SF_DOWN_CNT
			]]>
			</when>
		</choose>
	</sql>
	<!--彩铃  -->
	<sql id="Where_ClauseRing">
				<if test="ids!=null and ids!=''">
					and IDS=#{ids,jdbcType=INTEGER}
				</if>
				<if test="productId!=null ">
					and PRODUCT_ID=#{productId,jdbcType=INTEGER}
				</if>
				<if test="provinceCode!=null and provinceCode!=''">
					and PROVINCE_CODE=#{provinceCode,jdbcType=INTEGER}
				</if>
	</sql>
	<!-- 渠道专属包月条件 -->
	<sql id="Where_Clause_channelByMonth">
		<if test="_parameter!=null">
				<if test="ids!=null and ids!=''">
					and IDS=#{ids,jdbcType=INTEGER}
				</if>
				<if test="provinceCode!=null and provinceCode!=''">
					and PROVINCE_CODE=#{provinceCode,jdbcType=INTEGER}
				</if>
				<if test="srcMusicId!=null and srcMusicId!=''">
					and SRC_MUSIC_ID like '%${srcMusicId}%'
				</if>
				<if test="srcMusicId ==null or srcMusicId ==''">
					and SRC_MUSIC_ID = -1
				</if>
				<if test="srcMusicName!=null and srcMusicName!=''">
					and SRC_MUSIC_NAME like '%${srcMusicName}%'
				</if>
		</if>
	</sql>
	<!-- 振铃业务分析 -->
	<sql id="Where_ZClause">
		<if test="_parameter!=null">
			<if test="ids!=null and ids!=''">
				and IDS=#{ids,jdbcType=INTEGER}
			</if>
			<if test="provinceCode!=null and provinceCode!=''">
				and PROVINCE_CODE=#{provinceCode,jdbcType=INTEGER}
			</if>
		</if>
	</sql>
	<select id="selectBySelective" parameterType="com.sunrise.scjd.domain.DataParam" resultType="java.util.HashMap">
		select
		<include refid="Base_Column_List" />
		<if test="dateType == 'day'">
		,date_id as date_id
			from RPT_YDJC_SONG_DM
			where  DATE_ID=#{dateId,jdbcType=INTEGER}
		</if>
		<if test="dateType == 'month'">
			,month_id as date_id
			from RPT_YDJC_SONG_MM
			where month_id=#{dateId,jdbcType=INTEGER}
		</if>
		<if test="ids != null and ids !=''">
					and IDS=#{ids,jdbcType=INTEGER}
				</if>
				<if test="productId != null">
					and PRODUCT_ID=#{productId,jdbcType=INTEGER}
				</if>
				<if test="provinceCode != null and provinceCode != ''">
					and PROVINCE_CODE=#{provinceCode,jdbcType=INTEGER}
				</if>
		order by
		<include refid="OrderBy_Clause" />
		desc
	</select>
<!--彩铃sql  -->
	<select id="selectBySelective_ring" parameterType="com.sunrise.scjd.domain.DataParam" resultType="java.util.HashMap">
		select
		<include refid="Base_Column_List" />
			<if test="dateType == 'day'">
			,DATE_ID
			from RPT_YDJC_RING_DM
			where DATE_ID = #{dateId,jdbcType=INTEGER}
		</if>
		<if test="dateType == 'month'">
			,MONTH_ID as date_id
			from RPT_YDJC_RING_MM
			where MONTH_ID = #{dateId,jdbcType=INTEGER}
		</if>
		<include refid="Where_ClauseRing" />
		order by
		<include refid="OrderBy_Clause" />
		desc
	</select>
		
	<!-- 渠道专属包月sql -->
	<select id="selectBySelective_channelByMonth" parameterType="com.sunrise.scjd.domain.DataParam" resultType="java.util.HashMap">
		select
		<include refid="Base_Column_List_channelByMonth" />
		<if test="dateType == 'day'">
			,DATE_ID
			from RPT_YDJC_QDZS_DM
			WHERE  DATE_ID = #{dateId,jdbcType=INTEGER} 
		</if>
		<if test="dateType == 'month'">
			,MONTH_ID as date_id
			from RPT_YDJC_QDZS_MM
			WHERE  MONTH_ID = #{dateId,jdbcType=INTEGER} 
		</if>
		<include refid="Where_Clause_channelByMonth" />
		order by DOWN_CNT desc
	</select>

	<!--三方支付歌曲下载  -->
	<sql id="Base_Column_sfzfList">
		convert_type( 'USER_TYPE_ID',USER_TYPE) as USER_TYPE
		<choose>
			<when test="jfFlag!=null and jfFlag==-1">
			<![CDATA[
				,ALL_USERNUM as USR, ALL_USERNUM_HB as USR_HB,
				ALL_DOWNCNT as DOWN_CNT,ALL_DOWNCNT_HB as DOWN_CNT_HB,
				ALL_PRICE as PRICE,ALL_PRICE_HB as PRICE_HB
			]]>
			</when>
			<when test="jfFlag!=null and jfFlag==1">
			<![CDATA[
				,MF_USERNUM as USR, MF_USERNUM_HB as USR_HB,
				MF_DOWNCNT as DOWN_CNT,MF_DOWNCNT_HB as DOWN_CNT_HB,
				MF_PRICE as PRICE,MF_PRICE_HB as PRICE_HB
			]]>
			</when>
			<when test="jfFlag!=null and jfFlag==2">
            <![CDATA[
				,SF_USERNUM as USR, SF_USERNUM_HB as USR_HB,
				SF_DOWNCNT as DOWN_CNT,SF_DOWNCNT_HB as DOWN_CNT_HB,
				SF_PRICE as PRICE,SF_PRICE_HB as PRICE_HB
			]]>
			</when>
		</choose>
	</sql>
	<sql id="OrderBy_sfzfClause">
		<choose>
			<when test="jfFlag!=null and jfFlag==-1">
			<![CDATA[
				ALL_DOWNCNT
			]]>
			</when>
			<when test="jfFlag!=null and jfFlag==1">
			<![CDATA[
				MF_DOWNCNT
			]]>
			</when>
			<when test="jfFlag!=null and jfFlag==2">
            <![CDATA[
				SF_DOWNCNT
			]]>
			</when>
		</choose>
	</sql>
	<select id="selectBysfzf" parameterType="com.sunrise.scjd.domain.DataParam" resultType="java.util.HashMap">
		select
		<include refid="Base_Column_sfzfList" />
		<if test="dateType  == 'day'">
				,DATE_ID AS DATE_ID
				from prt_ydjc_quanqu3pay_dm
				where date_id =  #{dateId,jdbcType=INTEGER} 
			</if>
			<if test="dateType  == 'month'">
				,MONTH_ID AS DATE_ID
				from prt_ydjc_quanqu3pay_mm
				where MONTH_ID = #{dateId,jdbcType=INTEGER} 
			</if>
		<if test="ids!=null and ids!=''">
					and IDS=#{ids,jdbcType=INTEGER}
				</if>
				<if test="productId!=null">
					and PRODUCT_ID=#{productId,jdbcType=INTEGER}
				</if>
		order by
		<include refid="OrderBy_sfzfClause" />
		desc
	</select>
<!-- 在线听 -->
	<select id="selectByzxt" parameterType="com.sunrise.scjd.domain.DataParam" resultType="java.util.HashMap">
		select
		<include refid="listen_List" />
		<if test="dateType == 'day'">
			,DATE_ID
			from RPT_YDJC_ONLINE_DM
			WHERE DATE_ID = #{dateId,jdbcType=INTEGER}
		</if>
		<if test="dateType == 'month'">
			,MONTH_ID as DATE_ID
			from RPT_YDJC_ONLINE_MM
			WHERE MONTH_ID = #{dateId,jdbcType=INTEGER}
		</if>
		<if test="ids!=null and ids!=''">
					and IDS=#{ids,jdbcType=INTEGER}
			</if>
			<if test="provinceCode!=null and provinceCode!=''">
				and PROVINCE_CODE=#{provinceCode,jdbcType=INTEGER}
			</if>
		order by TEST_DOWN_CNT desc
	</select>
	<!-- 振铃业务分析 -->
	<select id="zringSelectBySelective" parameterType="com.sunrise.scjd.domain.DataParam" resultType="java.util.HashMap">
		select
		<include refid="Base_Column_List" />
		<if test="dateType == 'day'">
			,DATE_ID
			from RPT_YDJC_ZRING_DM
			WHERE DATE_ID = #{dateId,jdbcType=INTEGER}
		</if>
		<if test="dateType == 'month'">
			,MONTH_ID as DATE_ID
			from RPT_YDJC_ZRING_MM
			WHERE MONTH_ID = #{dateId,jdbcType=INTEGER}
		</if>
		<include refid="Where_ZClause" />
		order by
		<include refid="OrderBy_Clause" />
		desc
	</select>
	<!--三方支付 振铃按次 -->
	<sql id="Base_Column_List_Ring">
		case USER_TYPE
		WHEN '1' THEN '非会员'
		WHEN '2' THEN '普通会员'
		WHEN '3' THEN '高级会员'
		WHEN '4' THEN 'VIP会员'
		ELSE '其他' END as USER_TYPE,
		USERNUM AS USR,
		USERNUM_HB AS USR_HB,
		DOWNCNT AS DOWN_CNT,
		DOWNCNT_HB AS DOWN_CNT_HB,
		PRICE AS PRICE,
		PRICE_HB AS PRICE_HB
	</sql>
	<sql id="Where_Clause_Ring">
			<if test="ids!=null and ids!=''">
				and IDS=#{ids,jdbcType=INTEGER}
			</if>
	</sql>
	<select id="selectBySfzfRingCount" parameterType="com.sunrise.scjd.domain.DataParam" resultType="java.util.HashMap">
		select 
			<include refid="Base_Column_List_Ring"/>
		<if test="dateType == 'day'">
			,DATE_ID AS DATE_ID
			from PRT_YDJC_ZRING3PAY_DM 
			WHERE  DATE_ID =  #{dateId,jdbcType=INTEGER} 
		</if>
		<if test="dateType == 'month'">
			,MONTH_ID AS DATE_ID
			from PRT_YDJC_ZRING3PAY_MM 
			WHERE  MONTH_ID =  #{dateId,jdbcType=INTEGER} 
		</if>
		<include refid="Where_Clause_Ring"/>
		order by DOWN_CNT DESC
	</select>
	
	<select id="selectByRingBoxSelective" parameterType="com.sunrise.scjd.domain.DataParam" resultType="java.util.HashMap">
		select
		<include refid="Base_Column_List" />
		<if test="dateType == 'day'">
			,DATE_ID
			from RPT_YDJC_RINGBOX_DM
			WHERE DATE_ID = #{dateId,jdbcType=INTEGER}
		</if>
		<if test="dateType == 'month'">
			,MONTH_ID as DATE_ID
			from RPT_YDJC_RINGBOX_MM
			WHERE MONTH_ID = #{dateId,jdbcType=INTEGER}
		</if>
		<if test="ids!=null and ids!=''">
					and IDS=#{ids,jdbcType=INTEGER}
				</if>
				<if test="provinceCode!=null and provinceCode!=''">
					and PROVINCE_CODE=#{provinceCode,jdbcType=INTEGER}
				</if>
		order by
		<include refid="OrderBy_Clause" />
		desc
	</select>
	<!-- 铃音盒拆分 -->
	<select id="selectByRingBoxCFSelective" parameterType="com.sunrise.scjd.domain.DataParam" resultType="java.util.HashMap">
		select
		<include refid="Base_Column_List" />
		<if test="dateType == 'day'">
			,DATE_ID
			from RPT_YDJC_RINGBOX_CF_DM
			WHERE DATE_ID = #{dateId,jdbcType=INTEGER}
		</if>
		<if test="dateType == 'month'">
			,MONTH_ID as DATE_ID
			from RPT_YDJC_RINGBOX_CF_MM
			WHERE MONTH_ID = #{dateId,jdbcType=INTEGER}
		</if>
		<if test="ids!=null and ids!=''">
					and IDS=#{ids,jdbcType=INTEGER}
				</if>
				<if test="provinceCode!=null and provinceCode!=''">
					and PROVINCE_CODE=#{provinceCode,jdbcType=INTEGER}
				</if>
		order by
		<include refid="OrderBy_Clause" />
		desc
	</select>
	
	<!-- 个性化彩铃会员分析 -->
	<select id="selectRingdiy" parameterType="com.sunrise.scjd.domain.DataParam" resultType="java.util.HashMap">
		select
		<include refid="Base_Column_List" />
		<if test="dateType == 'day'">
			,DATE_ID
			from RPT_YDJC_RINGDIY_DM
			WHERE DATE_ID = #{dateId,jdbcType=INTEGER}
		</if>
		<if test="dateType == 'month'">
			,MONTH_ID as DATE_ID
			from RPT_YDJC_RINGDIY_MM
			WHERE MONTH_ID = #{dateId,jdbcType=INTEGER}
		</if>
				<if test="ids!=null and ids!=''">
					and IDS=#{ids,jdbcType=INTEGER}
				</if>
				<if test="provinceCode!=null and provinceCode!=''">
					and PROVINCE_CODE=#{provinceCode,jdbcType=INTEGER}
				</if>
		order by
		<include refid="OrderBy_Clause" />
		desc
	</select>
	
	
</mapper>